# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5
    - name: Install prerequisites
      run: |
        export GEM_HOME=$HOME/.gems
        export PATH=$PATH:$GEM_HOME/bin
        gem install bundle
        bundle install
    - name: Publish docs
      if: always()
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        export GEM_HOME=$HOME/.gems
        export PATH=$PATH:$GEM_HOME/bin
        rake publish
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}